@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-color: rgb(250, 239, 210);
}

nav {
    background-color: rgba(255, 166, 0, 0.7);
    height: 50px;
    margin-bottom: 20px;
}
nav ul {
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    list-style-type: none;
    height: 50px;
    justify-content: space-between;
}
li {
    display: inline-block;
    padding: 10px;
    
}
nav ul li a:hover {
    text-decoration: underline;
}

.mainmenu {
    text-align: left;
    display: inline;
    justify-self: flex-start;
}

.users {
    text-align: right;
    display: inline;
    justify-self: flex-end;
}

main {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-size: 25px;
}
h3 {
    font-size: 18px;
}

.blogoverview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blogpreview {
    width: 300px;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(255, 166, 0, 0.3);
}
.blogpreview:hover {
    background-color: rgba(255, 166, 0, 0.5);
}
.blogtext, .commentsection {
    padding-left: 100px;
    padding-right: 100px;
}

.blogpost {
    border-bottom: 1px solid grey;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.commentsection {
    width: 70%;
}
.commentsection textarea {
    height: 250px;
    width: 100%;
    margin-left: 0px;
}
.commentsection button {
    margin-left: auto;
    margin-right: 0px;
}
/*FORM*/
form input, form textarea {
    width: 500px;
    background-color: rgba(255, 166, 0, 0.3);
    border-radius: 30px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
form input:focus, form textarea:focus {
    outline: 2px solid rgba(255, 166, 0, 0.7);

}
form textarea {
    height: 500px;
    resize: none;
}
form button {
    width: 250px;
    background-color: rgba(255, 166, 0, 0.7);
    border-radius: 30px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form button:hover {
    background-color: rgba(255, 166, 0, 1)
}

/*BLOGPAGE*/
.metadata {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
    color: grey;
    margin-bottom: 50px;
}

