@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-color: rgb(250, 239, 210);
}

nav {
    background-color: rgba(255, 166, 0, 0.7);
    height: 50px;
    margin-bottom: 20px;
}
nav ul {
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    list-style-type: none;
    height: 50px;
    justify-content: space-between;
}
li {
    display: inline-block;
    padding: 10px;
    
}
nav ul li a:hover {
    text-decoration: underline;
}

.mainmenu {
    text-align: left;
    display: inline;
    justify-self: flex-start;
}

.users {
    text-align: right;
    display: inline;
    justify-self: flex-end;
}

main {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-size: 25px;
}
h3 {
    font-size: 18px;
}

.blogoverview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.blogoverview h2 {
    display: block;
    margin-bottom: 50px;
}
.blogpreview {
    width: 300px;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(255, 166, 0, 0.3);
}
.premium {
    background-color:  rgba(64, 139, 80, 0.3);
}
.edit-buttons {
    display: flex;
    justify-content: right;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
.edit-buttons form button, .edit-buttons button {
    text-decoration: underline;
    background-color: transparent;
    padding-left: 10px;
    width: 50%;
    cursor:pointer;
    
}
.edit-buttons form button:hover {
    text-decoration: none;
    background-color: transparent;
}
.blogpreview:hover {
    background-color: rgba(255, 166, 0, 0.5);
}
.premium:hover {
    background-color:  rgba(64, 139, 80, 0.5);
}
#delete-dialog {
    background-color: rgb(86, 86, 143);
}
.blogtext, .commentsection {
    padding-left: 100px;
    padding-right: 100px;
}

.blogpost {
    border-bottom: 1px solid grey;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.commentsection {
    width: 70%;
}
.commentsection textarea {
    height: 250px;
    width: 100%;
    margin-left: 0px;
}
.commentsection button {
    margin-left: auto;
    margin-right: 0px;
}

.singlecomment {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    padding: 10px;
}
.singlecomment .username {
    font-weight: bold;
}
.singlecomment .date {
    color: grey;
    text-align: right;
}
/*FORM*/
form {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form input, form textarea {
    width: 100%;
    background-color: rgba(255, 166, 0, 0.3);
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 20px;
}
form input:focus, form textarea:focus {
    outline: 2px solid rgba(255, 166, 0, 0.7);

}
form textarea {
    height: 500px;
    resize: none;
}
form button, .button {
    width: 250px;
    background-color: rgba(255, 166, 0, 0.7);
    border-radius: 30px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
form button:hover, .button:hover {
    background-color: rgba(255, 166, 0, 1)
}
label {
    display:block;
    font-weight: bold;
    padding: 15px;
}
select {
    width: 50%;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 20px;
}

.error {
    color: rgb(172, 0, 0);
    text-align: right;

}
/*BLOGPAGE*/
.metadata {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
    color: grey;
    margin-bottom: 50px;
}

