@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --primary-bg-color: rgb(255, 253, 252);
    --secondary-bg-color:rgba(92, 38, 31, 0.274);

    --primary-btn-color: rgb(92, 38, 31);
    --secondary-btn-color: rgba(92, 38, 31, 0.205);
    --secondary-btn-hover: rgba(92, 38, 31, 0.305);

    --nav-size: 20px;
    --h1-size: 40px;
    --h2-size: 30px;
    --h3-size: 25px;

    --border-radius: 50px;
}

body {
    background-color: var(--primary-bg-color);
}

nav {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 100px;
    padding: 5px;
    background-color: var(--secondary-bg-color);
    font-size: var(--nav-size);
}
nav ul {
    list-style-type: none;
}
nav ul li a{
    display: block;
}

.nav-right li {
    float: left;
    padding-left: 5px;
}
.nav-left li {
    float: left;
    padding-right: 5px;
}

.primary-btn {
    background-color: var(--primary-btn-color);
    color: white;
    padding: 10px;
    border-radius: var(--border-radius);
}
.primary-btn:hover {
    border-top: 2px solid var(--primary-btn-color);
}
.secondary-btn {
    background-color: var(--secondary-btn-color);
    padding: 10px;
    border-radius: var(--border-radius);
}
.secondary-btn:hover {
    background-color: var(--secondary-btn-hover);
}

header {
    margin-bottom: 30px;
}

main {
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

}
h1 {
    text-align: center;
    font-size: var(--h1-size);
}
h2 {
    font-size: var(--h2-size);
    text-align: center;
}
h3 {
    font-size: var(--h3-size);
}

/*LOGIN*/
.form {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form input, .form textarea, .form select {
    width: 300px;
    display:  block;
    margin-top: 50px;
    margin-bottom: -5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.form textarea {
    height: 200px;
    resize: none;
}
.form label {
    float: right;
    width: 100%;
    text-align: right;
    font-weight: 500;
}
.form a {
    display: block;
}
.form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 150px;
}

/*HOME*/
.advert-preview {
    background-color: var(--secondary-bg-color);
    width: 750px;
    height: 190px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 150px auto auto;
    grid-template-rows: auto auto;
}
.advert-preview:hover {
    background-color: var(--secondary-btn-hover);
}
.advert-preview img {
    height: 150px;
    width: 150px;
    padding-right: 5px;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: var(--border-radius);
    object-fit: cover;
}
.advert-preview .advert-info {
    grid-column: 2/4;
    grid-row: 1/2;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
.advert-preview .advert-info h2 {
    font-size: var(--h2-size);
}
.advert-preview .advert-description {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}
.advert-preview .advert-data {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-left: 5px;
    position:initial;
    bottom: 0px;
    right: 0px;
    text-align: right;
}

/*DASHBOARD*/
.your-adverts h3 {
    display: inline;
} 

.your-adverts .add-advert {
    background-color: transparent;
}
.your-adverts .add-advert .thumbnail {
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius);
    background: var(--secondary-btn-color);
    padding: 10px;
}
.your-adverts .add-advert .thumbnail svg {
    fill: grey;
}
.your-adverts .add-advert .thumbnail:hover {
    background: var(--secondary-btn-hover);
}
.your-adverts .advert-data .edit-button svg {
    width: 50px;
    background: var(--secondary-btn-color);
    padding: 10px;
    border-radius: 100px;
}

/*ADVERT*/
#advert {
    
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    grid-gap: 20px;
}
#advert .advert-info, #advert .advert-data, #advert .advert-bids {
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
    padding: 25px;
}
#advert .advert-info {
    grid-column: 1/2;
    grid-row: 1/3;

    display: grid;
    grid-template-columns: 50% 50%;
}
#advert .advert-info img {
    border-radius: var(--border-radius);
}
#advert .advert-data {
    grid-column: 2/3;
    grid-row: 1/2;
}
#advert .advert-bids {
    grid-column: 2/3;
    grid-row: 2/3;
}
#advert .advert-bids a {
    display: inline-block;
    text-align: center;

}
/*BIDS*/
.dialog {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.205);
    padding: 20px;
    border: 1px solid #ccc;
}
.bid-form, .delete-advert {
    background-color: var(--primary-bg-color);
    width: 500px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 40%;
    border-radius: 30px;
}
.dialog:target {
    display: block;
}
.close-btn {
    display: block;
    width: 50px;
    margin-right: 0px;
    margin-left: auto;
}
.close-btn svg {
    width: 30px;
}
